*{
	margin: 0;
	padding: 0;
	}


body, html {
  color: #000;
	background-image:url('../images/dark.png'); /* applies background image to site */
  }
  
#main-content{
	width: 960px;
	margin: 0 auto;
	background-color: #FF9933;
	}

#header {
  background:#ddd;
    }  

h1{
	font-family: 'Rambla', sans-serif;
	color: #CC9966;
	text-align: center;
	text-shadow: 2px 2px 3px #CC6600;
	letter-spacing: 5px;
	background-image:url('../images/dark.png');
	float: left;
	}
	
h2{
	font-style: italic;
	color: #CC9966;
	text-shadow: 2px 2px 3px #CC6600;
	font-weight: normal;
	background-image: url('../images/dark.png');
	padding: 3px;
	clear: both;
	}
	
p{
	color: #333333;
	font-family: helvetica;
	padding: 10px;
	clear: both;
	}
	
.article {
	background: #9c9;
	float: left;
  width: 530px;
	display: block;
    }
    
#sidebar {
  background:#c9c;
  float: right;
  width: 430px;
  background: #c9c;
  display: block;
    }
    
#footer {
  background:#cc9;
  display: block;
    }
    
	/* /General Page Styling --------------------------------- */	


/* Nav Styling ----------------------------------------- */
#nav{
	position: absolute;
	right: 300px;
	width: 300px;
	background-color: #333333;
	overflow: hidden;
	padding: 0;
	height: 25px;
	line-height: 25px;
	list-style-type: none; 
	}

#nav li{ 
	font-family: 'Rambla', sans-serif;
	color: #DAD7C7;
	width: 100px;
	float: left;
	}
	
a{
	display: block;
	text-align: center; 
	text-decoration: none;
	color: gray;
	}

a:visited{
	color: #DAD7C7;
	}

a:hover{
	background-color: #fff;
	color: #000;
	}
	
	/* /Nav Styling ----------------------------------------- */


/* IMG Styling ----------------------------------------- */
#gallery li{
	float: left;
	display: inline;
	padding: 2px;
	margin: 10px;
	}

	/* /IMG Styling ----------------------------------------- */